In [1]:
from sqlalchemy import create_engine

In [2]:
"postgresql://[user]:[password]@[location]:[port]/[database]"

'postgresql://[user]:[password]@[location]:[port]/[database]'

In [7]:
from config import db_password

In [8]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [10]:
engine = create_engine(db_string)

In [11]:
movies_df.to_sql(name='movies', con=engine)

NameError: name 'movies_df' is not defined